div {
  border: 0px solid black;
}
// kast ümber terve "tabeli", mida hetkel ei ole vaja seepärast =0

// table {
//   border-collapse: collapse;
// }

table {
  border-collapse: solid;
  table-layout: fixed;
  width: 1000px;
   <colgroup>
    <col style="width:10%">
    <col style="width:40%">
    <col style="width:30%">
    <col style="width:10%">
    <col style="width:10%">
  </colgroup>  

//  with: 100¤%;
//  style="with: 300px"
}

table, th, td {
   border: 1px solid black;
} 

// th {
//  text-align: left;
//  height: 30px;
//  line-height: 0;
//  padding-top: 0;
//  padding-bottom: 0;
//  color: red;
//  border: 1px solid #000
//  white-space: nowrap;
//  border-bottom-color: green;
//  }
// th muudab tabeli esimese rea kujundust. see võiks olla tabeli päis

tr {
  text-align: left;
  height: 30px;
  width: 20%;
  line-height: 0;
  padding: 80px 10px;
//  padding-top: 0;
//  padding-bottom: 0;
  color: blue;
  border: 1px solid #000
  white-space: nowrap;
  border-bottom-color: green;
  }
// td muudab tabeli esimese rea kujundust. see võiks olla tabeli päis

p {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

