div {
  border: 0px solid black;
}
// kast ümber terve "tabeli", mida hetkel ei ole vaja seepärast =0

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
  height: 30px;
  line-height: 20;
  padding-top: 20;
  padding-bottom: 20;
  color: green;
  border: 1px solid #000
  white-space: nowrap;
  border-bottom-color: green;
  }

p {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
