div {
  border: 0px solid black;
}
// kast ümber terve "tabeli", mida hetkel ei ole vaja seepärast =0

table {
  border-collapse: collapse;
}

// table, th, td {
//  border: 1px solid black;
// } 
// so algne töötav variant

table, tr, th, td {
   border: 1px solid black;
     <thead>
       <tr>
         <th>Reg. kood</th>
         <th>Ettevõte</th>
         <th>Maksud</th>
         <th>Töötajaid</th>
         <th>Y&Q</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         td {
         }
       </tr>
 
//    <tr>
//      <td>February</td>
//      <td>$80</td>
//    </tr>
   </tbody>

//   <tfoot>
//    <tr>
//      <td>Sum</td>
//      <td>$180</td>
//    </tr>
//  </tfoot>
</table>
}

th {
  text-align: left;
  height: 30px;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: red;
  border: 1px solid #000
  white-space: nowrap;
  border-bottom-color: green;
  }
// th muudab tabeli esimese rea kujundust. see võiks olla tabeli päis

tr {
  text-align: left;
  height: 30px;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: blie;
  border: 1px solid #000
  white-space: nowrap;
  border-bottom-color: green;
  }
// td muudab tabeli esimese rea kujundust. see võiks olla tabeli päis


p {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
