table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 30px;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: green;
  border: 1px solid #000
  white-space: nowrap;
  border-bottom-color: green;
  }

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  }
